.AddItem {
    display: flex;
    gap: var(--px12);
    align-items: center;
    input {
        border-radius: var(--px6);
        padding: var(--px6);
        border: 1px solid var(--grey);
        font-size: var(--px-14);
    }
}
