.Checklist {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.Checklist__tableWrapper {
    width: 100%;
    overflow: auto;
    padding-bottom: var(--px20);
    flex-grow: 1;
}

.Checklist__table {
    width: max-content;
    border-collapse: separate;
    tr {
    }
    th,
    td {
        background-color: var(--cell-background);
        border: 1px solid var(--cell-border-color);
        border-left: none;
        border-top: none;
        vertical-align: top;
        &:first-child {
            border-left: 1px solid var(--border-color);
        }
    }
}

.Checklist__header {
}
.Checklist__cell__types {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 30;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.Checklist__cell__pupil {
    position: sticky;
    top: 0;
    z-index: 20;
    border-bottom: 1px solid var(--border-color);
}

.Checklist__cell__task {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: var(--white);
    border-right: 1px solid var(--border-color);
}

.Checklist__types,
.Checklist__task,
.Checklist__taskCheck,
.Checklist__pupil {
    position: relative;
    padding: var(--px20);
    display: flex;
    height: calc(var(--px1) * 70);
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

.Checklist__pupil {
    flex-direction: row;
}

.Checklist__types {
    font-weight: bold;
}
.Checklist__task {
    position: sticky;
    left: 0;
    z-index: 10;
    justify-content: flex-start;
}
.Checklist__taskCheck {
    padding: 0;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    input {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    label {
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

.Checklist__actions {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: var(--px12) var(--px20);
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    gap: var(--px12);
    left: 0;
    width: 100%;
    flex-grow: 0;
}
.Checklist__deleteButton {
    position: absolute;
    right: 0;
    top: 0;
}

.Checklist__zoomBtn {
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    border-radius: var(--px6);
}
