html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

:root {
    /* CSS HEX */
    /* CSS HEX */
    --lavender-web: hsla(279, 18%, 84%, 1);
    --thistle: hsla(326, 21%, 74%, 1);
    --puce: hsla(336, 26%, 65%, 1);
    --china-rose: hsla(337, 30%, 55%, 1);
    --china-rose-2: hsla(337, 39%, 45%, 1);
    --raspberry-rose: hsla(342, 40%, 48%, 1);
    --eggplant: hsla(342, 31%, 27%, 1);
    --night: hsla(158, 31%, 7%, 1);
    --white: #fff;
    --green: #32a852;
    --grey-lighter: #f4f4f4;
    --grey-light: #dfdfdf;
    --grey: #c2c2c2;

    --border-color: var(--grey-light);
    --cell-border-color: var(--grey-light);
    --cell-background: var(--white);

    --font-base: 16;
    --font-base-size: calc(var(--font-base) * 1px);
    --rem-1px: calc(1rem / var(--font-base));
    --px20: calc(20 * var(--rem-1px));
    --px16: calc(16 * var(--rem-1px));
    --px14: calc(14 * var(--rem-1px));
    --px12: calc(12 * var(--rem-1px));
    --px6: calc(6 * var(--rem-1px));
    --px1: calc(1 * var(--rem-1px));
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    background-color: var(--grey-lighter);
}
